<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script>
  $(function() {
    $( ".sortable" ).sortable();
    $( ".sortable" ).disableSelection();
  });
</script>

  <form ng-submit="addItem()">
    <div class="input-group">
    <input type="text" class="form-control" ng-model="newItem.item" name="item" placeholder="Add todos"/>
    <span class="input-group-btn">
      <button class="btn btn-default" type ="submit">+</button>
    </span>
  </div>
  </form>
<div class = "row">
  <div class="col-md-4">
  <h3>Todo list</h3>
  <ul class="list-group sortable">
    <li class= "list-group-item ui-state-default" ng-repeat="x in todoItems" ng-show="filterIncomplete(x)">
      <div class="row" ng-mouseenter="activateHover($index)" ng-mouseleave="deactivateHover($index)">
        <div class="col-sm-8 wordWrap">
          {{x.item}}
        </div>
        <span class = "btn-right" ng-show= "x.isHovered"> 
          <a class="btn btn-xs btn-success" ng-href="#/" ng-click="completeTodo(x)"><span class="glyphicon glyphicon-ok"></span></a>
          <a class="btn btn-xs btn-danger" ng-href="#/" ng-click="deleteTodo($index)"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-xs btn-info" ng-href="#/" ng-click="snoozeClick($index)"><span class="glyphicon glyphicon-time"></span></a>
        </span> <!-- col-sm-4 -->
        <!-- If the snooze button is press, display  -->
        <div class= "snoozePress" ng-show="checkSnooze($index) && x.isHovered">
          <span>
            <a class="btn btn-xs btn-info" ng-href="#/" ng-click="snoozeTodo($index, '1 hour')">1 hour</a>
            <a class="btn btn-xs btn-info" ng-href="#/" ng-click="snoozeTodo($index, '1 day')">1 day</a>   
            <a class="btn btn-xs btn-info" ng-href="#/" ng-click="snoozeTodo($index, '1 week')">1 week</a>
          </span>
        </div> <!--snoozePress-->
      </div>
    </li>
  </ul>
</div><!--col-md-4-->

<div class="col-md-4" > <!-- ng-show="todosCompleted > 0" -->
  <h3>Finished Todos</h3>
  <ul class="list-group">
    <li class= "list-group-item wordWrap" ng-repeat="x in todoItems" ng-show="filterCompleted(x)">
      {{x.item}}
    </li>
  </ul>
</div>

<div class="col-md-4">  <!-- ng-show="snoozed > 0" -->
  <h3>Snoozed Todos</h3>
  <ul class="list-group">
    <li class= "list-group-item" ng-repeat="x in todoItems| orderBy:['1 hour','1 day','1 week']" ng-show="filterSnooze(x)">
      <div class="hover row" ng-mouseenter="activateHover($index)" 
          ng-mouseleave="deactivateHover($index)"> 
        <span class= "col-sm-6 wordWrap">
          {{x.item}}  
        </span>
        <span class="col-sm-3" id = "snoozeTime">
          {{x.snoozeTime}}
        </span>
        <span class = "btn-right">
          <a class="btn btn-xs btn-success" ng-href="#/" ng-click="reactivateTodo($index)" ng-show= "x.isHovered">Activate <span class="glyphicon glyphicon-ok"></span></a>
        </span> <!-- btn-right -->
      </div><!-- hover -->
    </li>
  </ul>
</div>
</div>
